/**/bin/
/**/.metadata/
/**/*~/
/**/target/
/**/Debug/
*.fossil
/**/*.class
/**/*.[o]
*.[o]
/**/*.exe
/**/*.depend
/**/*.layout
/**/x64/
/**/obj/
*.log.txt
/**/Profiles/
/**/Release/
*.input.txt
*input.txt
*output.txt